body {
  background-color: white;
  font-family: 'Oswald', sans-serif;
}

header {
  background-color: white;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color: #ff4d29;
  width: 100%;
  position: fixed;
  overflow: auto;
}

ul {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 60px;
}

/*Having issues with none of the lists displaying inline*/
li {
  display: inline;
}

section {
  background-color: white;
}

.gradient {
  background-color: #e12071;
  background-image: linear-gradient(
    to right,
    #e12071, #ff4d29
    );
}

.white {
  color: white;
}

.gray {
  color: gray;
}

.orange {
  color: #ff4d29;
}

/*Having issues with this id tag not showing up*/
#recommended {
  width: 100%;
  background-color: pink;
}
